<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../rem.js"></script>
    <link rel="stylesheet" href="../../css/reset.css?t=1">
    <link rel="stylesheet" href="../../css/theme1.css?t=4">
</head>
<body>
    <div
        data-keys="['theme1_tpl1_value1','theme1_tpl1_src1','theme1_tpl1_value2']"
        class="thmeme1_tpl1_container"
    >
        <textarea v-model="theme1_tpl1_value1" class="theme1_tpl1_p">sdfgsdfg</textarea>
        <textarea v-model="theme1_tpl1_value2" class="theme1_tpl1_p2">sdfgdsfgsdf</textarea>
        <img :src="theme1_tpl1_src1" alt="" class="uploadBtn theme1_tpl1_img">
    </div>
</body>
</html>